<!DOCTYPE html>
{% load static %}
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet"  href="{% static 'css/list.css' %}">
</head>
<div class="center-column">
    <form method ='POST' action="/">
        {% csrf_token %}
        {{form.title}}
        <input class = "btn btn-info" type="submit" name = "Create Task"/>
    </form>

    {% for task in tasks %}
    <div class = item-row>
        <a class = "btn  btn-warning"  href = "{% url 'update' task.id %}">Update</a>
        <a class = "btn  btn-danger"  href = "{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <p>{{task}}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>